.container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px;
  justify-content: center;
}

.card {
  border: 5px solid #e1d9bc;
  border-radius: 5%;
  padding: 12px;
  width: 20%;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #acbac4;
  transition: transform 0.2s;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.code {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 6px;
  color: #555;
}

.name {
  color: #555;
  font-size: 14px;
}
.rate {
  margin-top: 8px;
  font-size: 15px;
  font-weight: bold;
  color: #222;
}
