version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: currency_monitor_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: currency_monitor
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
